.about {
  display: grid;
  place-items: center;
  font-size: 3.5em;
  font-family: 'Work Sans';
  /* padding-top: 3em; */
  width: 100%;
}

.about-body {
  /* background-color: white; */
  /* padding-top: 3em; */
}

.about-list {
  font-size: 20px;
  padding-left: 8em;
  padding-right: 8em;
  /* background-color: white; */
}