.contact {
  display: grid;
  place-items: center;
  /* border: 2px solid black; */
  font-family: "Ms Madi";
}

.contact-header {
  font-size: 4em;
  color: rgb(0, 0, 0);
  /* margin-bottom: -.05px; */
}

.contact-form-container {
  border-radius: 1em;
  background-color: rgb(255, 255, 255, 0.6);
  padding: 3.5em;
  /* border: 1px solid black; */
  max-width: 100%;
  filter: drop-shadow(1px 1px 0.5px #DCDCDC);
  /* text-align: center; */
}

.contact-form {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}

.input-first-name {
  font-size: 1.15em;
  font-family: "Work Sans";
  padding: 5px;
  margin: 4px;
  border: 2px;
  border-radius: 5px;
  border: 2px solid rgb(255, 0, 102, 0.5);
}

.input-last-name {
  font-size: 1.15em;
  font-family: "Work Sans";
  padding: 5px;
  margin: 4px;
  border: 2px;
  border-radius: 5px;
  border: 2px solid rgb(255, 0, 102, 0.5);
}

/* .input-email {
  font-size: 1.15em;
  font-family: "Work Sans";
  padding: 5px;
  margin: 4px;
  border: 2px;
  border-radius: 5px;
  border: 2px solid rgb(255, 0, 102, 0.9);
} */

.input-email {
  font-size: 1.15em;
  font-family: "Work Sans";
  padding: 5px;
  margin: 4px;
  border: 2px;
  border-radius: 5px;
  border: 2px solid rgb(255, 0, 102, 0.5);
  /* margin-bottom: 2em; */
}

.input-message {
  font-size: 1.15em;
  font-family: "Work Sans";
  height: 5em;
  width: auto;
  max-height: 15em;
  max-width: 25em;
  padding: 5px;
  margin: 4px;
  border: 2px;
  border-radius: 5px;
  border: 2px solid rgb(255, 0, 102, 0.5);
}

.contact-button {
   background-color: rgb(255, 0, 102, 0.8);
   font-weight: 900;
   color: white;
   border: 1px;
   height: 3em;
   width: 10em;
   font-family: "Work Sans";
   margin-top: 1em;
   border-radius: 5px;
}

.contact-button:hover {
  border: 1px solid rgb(255, 0, 102);
  background-color: white;
  color: rgb(255, 0, 102);
}