.home {
   display: grid;
   place-items: center;
   margin-top: 10em;
   /* border: 1px solid black; */
}

.home-header-banner {
   /* border: 1px solid black; */
   background-color: #F5F5F5;
   border-radius: 15px;
   /* z-index: -1; */
   padding-top: 3em;
   padding-bottom: 3em;
   padding-left: 7em;
   padding-right: 7em;
   margin-top: -5em;
   display: flex;
   filter: drop-shadow(1px 1px 0.5px #DCDCDC);
}

.home-name {
   /* font-family: 'Ms Madi'; */
   font-family: 'Work Sans';
   font-size: 4rem;
   margin-bottom: -1em;
   color: #505050;
}

.home-button-container {
   display: flex;
   padding-top: 1em;
}

.home-links {
   margin-top: -2em;
   font-size: 1.5em;
}

.link-data {
   cursor: pointer;
}

.link-data:hover {
   color: #FF0066;
   filter: drop-shadow(1px 1px 0.5px white);
   /* transform: scale(10); */
}

.home-button {
   height: 5em;
   width: 15em;
   /* background-color: white; */
   /* border: 1.5px solid gray; */
   border-radius: 1em;
   margin: .20em;
   font-family: 'Work Sans';
   font-size: 1em;
}