.link {
   text-decoration: none;
   /* color: #FF0099; */
   /* color: #5F9EA0; */
   /* color: #A3C1AD; */
   /* color: black; */
   color: #505050;
   font-family: 'Noto Sans KR';
   font-weight: 900;
   letter-spacing: 2px;
   padding-left: 1em;
   padding-right: 1em;
   font-size: 1.5vw;
   /* text-shadow: 1px 1px 1px rgb(95, 158, 160); */
}

/* .link:hover { */
   /* background-color: rgb(255, 0, 153, 0.25); */
   /* background-color: white; */
   /* border:2px solid #FF0099; */
   /* border-radius: 10px; */
   /* color: #FF0099; */
/* } */

.header {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

.header-home {
   /* width: 4em; */
   font-size: 3vw;
   text-decoration: none;
   padding-left: .75rem;
   color: #5F9EA0;
}

.link-home {
   text-decoration: none;
}
