.link {
   text-decoration: none;
   color: #FF0099;
   font-family: 'Noto Sans KR';
}

.header {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   height: 6em;
}

.header-home {
   width: 5em;
}

.header-phone {
   width: 5em;
}