.picture {
  /* display: grid; */
  /* place-items: center; */
  /* margin: 0; */
  max-width: 100%;
  margin-right: 3em;
}


.picture-img {
  width: 400px;
  height: 400px;
  /* position: relative; */
  /* padding: 1em; */
}

.picture-wrap {
  position: relative;
  height: 400px;
  width: 400px;
}

.picture-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;

  transition: opacity .2s, visibility .2s;
}

.picture-wrap:hover .picture-description{
  /* visibility: visible;*/
  visibility: visible;
  opacity: 1;
  padding-left: 1em;
  /* color: white; */
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}