.production {
  /* display: grid; */
  /* place-items: center; */
  font-size: 1em;
  /* padding-top: 7em; */
  /* border: 1px solid red; */
  /* justify-content: center; */
  /* display: flex; */
  justify-content: center;
  padding: 1em;
  margin: 1em;
}

.production-code {
  border: 1px solid black;
  padding: 1em;
}

.production-blog {
  
}

.production-code:hover {
  /* border: 1px solid black; */
  /* color: palevioletred; */
  color: #5F9EA0;
}

.production-blog:hover {
  /* border: 1px solid black; */
  color: #ff69b4;
}

.production-picture:hover {
    color: palevioletred;
}