.production {
  display: grid;
  place-items: center;
  font-size: 1em;
  padding-top: 7em;
  /* border: 1px solid red; */
}

.production-code:hover {
  /* border: 1px solid black; */
  color: palevioletred;
}

.production-blog:hover {
  /* border: 1px solid black; */
  color: #ff69b4;
}

.production-picture:hover {
    color: palevioletred;
}