.production {
  display: grid;
  place-items: center;
  font-size: 1em;
  /* border: 1px solid red; */
}

.production-code {
  border: 1px solid black;
}

.production-blog {
  /* border: 1px solid black; */
}