body {
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  font-family: 'Noto Sans KR';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color:rgba(240, 128, 128, 0.20); */
  background-color: rgb(228, 228, 228);
}

/* body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-thumb {
  background: #FF0099;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
